//META{"name":"the multiverse 2","description":"An photo that an austromener took relaviling mulitplie universes in the stars","author":"SrS","version":"4"}*//{}


/*
   ##############################################################################################################################
    
    
      ████████╗██╗  ██╗███████╗    ███╗   ███╗██╗   ██╗██╗  ████████╗██╗██╗   ██╗███████╗██████╗ ███████╗███████╗    ██████╗ 
      ╚══██╔══╝██║  ██║██╔════╝    ████╗ ████║██║   ██║██║  ╚══██╔══╝██║██║   ██║██╔════╝██╔══██╗██╔════╝██╔════╝    ╚════██╗
         ██║   ███████║█████╗      ██╔████╔██║██║   ██║██║     ██║   ██║██║   ██║█████╗  ██████╔╝███████╗█████╗       █████╔╝
         ██║   ██╔══██║██╔══╝      ██║╚██╔╝██║██║   ██║██║     ██║   ██║╚██╗ ██╔╝██╔══╝  ██╔══██╗╚════██║██╔══╝      ██╔═══╝ 
         ██║   ██║  ██║███████╗    ██║ ╚═╝ ██║╚██████╔╝███████╗██║   ██║ ╚████╔╝ ███████╗██║  ██║███████║███████╗    ███████╗
         ╚═╝   ╚═╝  ╚═╝╚══════╝    ╚═╝     ╚═╝ ╚═════╝ ╚══════╝╚═╝   ╚═╝  ╚═══╝  ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝    ╚══════╝
                               
                                                                                                                                                                           
   ##############################################################################################################################
*/


/* !!!!!DO NOT DELETE THE FOLLOWING LINE OF CODE. THIS LOADS THE MAIN THEME. DELETING IT WILL CAUSE IT TO FAIL!!!!! */
@import url("https://gl.githack.com/SrS27a/bd/raw/master/themes/main/the-multiverse-2.css");

:root {
    /* You can define your own background look by changing the variables to your own url. Make sure you do not delete the url(""); part; and it's a valid url too, otherwise it will not work */
    --load-background: url("https://smgclan.net/images/SMGClan/backgroundbluespace_new_vibrance.jpg"); /* background to display while loading */
    --main-background: url("https://jerusalemchambercom.files.wordpress.com/2017/05/465365-1280x800.jpeg"); /* the main background to display */
    /* You can define your own color by changing the variables to your own hex or rgb. When using a hex color, make sure you have the # in the front. Likewise if it is a rgb color, wrap () around, rgba should be in the front */
    /* Color Picker: https://www.w3schools.com/colors/colors_picker.asp */
    --background-transpraency: rgba(0, 0, 0,0.08); /* How transparent your main background should be */
    --secondary-transpraency: rgba(0, 0, 0,0.4); /* How transparent other elements should be */
    --main-dropdown: #778899; /* the main dropdown color */
    --main-dropdown-hover: #708090; /* the main dropdown color on hover */
    --slected-channel-color: #43398e; /* the main channel color upon select */
    --hovered-select-channel: #2e1ac9; /* the main channel color upon hover */
    --user-member-select: #0b512f; /* the main member color upon select */
    --user-member-hover: #d0a100; /* the main member color upon hover */
    --settings-member-select: #8e3986; /* the main settings color upon select */
    --settings-member-hover: #1ac0c9; /* the main settings color upon hover */
    --main-embed-background: #000000; /* the main color to be displayed for embeds */
    --small-heading-main: #f00000; /* the main color to be displayed for small heading */
    --large-heading-main: #9370DB; /* the main color to be displayed for large heading */
    --border-libary-friends-main: #32CD32; /* The border color for the friends list */
    --border-settings-main: #FFD700; /* The border color for setting options */
    --border-server-main: #FFD700; /* The border color for server folders */
    --main-timestamp: #00FFFF; /* The main timestamp color */
    --main-unread: #44f5b1; /* The color for unread nodifyers */
    --mention-background-main: #f04747; /* The main color for pings */
    --main-input: #202225; /* The main color for user inputs */
    --mention-reaction-main: #da70a1; /* The main color for chat at's and reactions */
    --main-link-color: #00b0f4; /* The main color for links */
    --toast-hover-main: #000; /* The main color for tool tips */
    --discordservers-main-button: #1e90ff; /* the color to be displayed for pubilc's module buttons */
    --discordservers-heading-main: #ff0; /* the color to be displayed for pubilc's module headings */
    --popout-control-dialog: #381f25; /* the main color to be displayed for pop out setting control dialogs */
    --popout-secondary-control-dialog: #2f3136; /* the secondary main color to be displayed for pop out setting control dialogs */
    --store-item-background: #FFF0E0; /* Main background for items in the store */
    --store-embed-main: #0F8C7A; /* Main background for store embeds */
    --store-small-heading-main: #66ddaa; /* The small heading for the store */
    --store-sidebar-main: #d2b48c; /* The color to be displayed for the sidebar in selected store games */
    --play-arrow-color-main: #ff0; /* the color to be displayed for play button and navagation arrows */
    --server-folder-extended-main: rgba(242, 240, 233, 0.7); /* The main color to be displayed when sever folders are expanded */
    --main-decription-color: #b0c4de; /* The color to be displayed for setting descritors */
    --main-chat-color: #fff; /* The color to be displayed for user chat descriptors */
    --main-button-color: #1e90ff; /* Color to be displayed for the majority of buttons */
    --main-secondary-button-color: #FF8F1F; /* Color to be displayed for the majority of secondary buttons */
    --main-cancel-button-color: #9acd32; /* Color to be displayed for the majority of cancel/exit buttons */
    --commands-main: #00008b; /* Color to be displayed for page/filter buttons */
    --user-profile-background: #0E2F44; /* Color to be displayed for user profiles */
    --main-updates-background: #0E2F44; /* Background to be displayed for updates like pinned messages/search */
    --main-secondary-updates-background: #bc8f8f; /* Secondary Background to be displayed for updates like pinned messages/search */
    --activity-heading-1: #B7DB70; /* The first heading color for the activity tab */
    --activity-heading-2: #DE669A; /* The first secondary heading color for the activity tab */
    --border-radius-profile-main: none; /* Defines if profiles should be square or circular */
    --main-option-button-color: #000; /* The main color for swith page buttons */
    --main-button-secondary-color: #fff; /* The main hover color for swith page buttons */
}
