/* The Multiverse 2 - v4.15.28 */ 
/*                    1^ 2^ 3^
1=Theme revamp 2=Theme enchanements 3=Theme bug fixes */

/* 
96% Of The Orginal source code is from the Author SrS#8614
Some stuff of the theme however comes from Satoru's example theme, and tropical's Midnight UI theme edited to fit this themes purpose(s)
Orignal Authors are cool with it
*/


/* Adds in addons */
@import url("https://gl.githack.com/SrS27a/bd/raw/master/themes/addons/stylesheets/animations.css");
@import url("https://gl.githack.com/SrS27a/bd/raw/master/themes/addons/stylesheets/plugin-support.css");
@import url("https://uppercaseuser.github.io/LTD/app.css");
@font-face {
    font-family: 'zrnic';
    src: local('zrnic rg'), local('zrnic'), url('https://gl.githack.com/SrS27a/bd/raw/master/themes/addons/fonts/zrnic.ttf') format('truetype');
}
@font-face {
  font-family: 'Segoe MDL2 Assets';
  src: local('Segoe MDL2 Assets'), local('SegoeMDL2Assets'), url('https://intrnl.github.io/fluentdiscord/src/assets/fonts/SegoeMDL2Assets.woff2') format('woff2');
}

/* Initalizes the theme */
:root {
        --Theme-Variant: "The Multiverse 2";
        --Update-Text: "Version 4.15.28";
	    --revision: "4";
	    --creator-short: "SrS";
	    
	    /* Variables for addons */
	    --plugin-libary-hide: none;
}

#app-mount, .app-2rEoOp, body, .members-1998pB, .bg-h5JY_x, .container-3gCOGc, .chat-3bRxxu, .wrapper-1Rf91z, .pageWrapper-1PgVDX, .contentRegion-3nDuYy, .scroller-305q3I, .scroller-2XE8rp, .container-PNkimc, .perksModal-fSYqOq, .privateChannels-1nO12o, .scroller-1IIF0A, .messages-3amgkR, .sidebar-2K8pFh, .scroller-2TZvBN, .scroller-9moviB, .sidebarRegionScroller-3MXcoP, .friendsTable-133bsv .friendsTableBody-1ZhKif, .scroller-1JbKMe, .scroller-1JpcIc, .applicationStore-1pNvnv, .root-1BQpZw, .scroller-5bBood, .standardSidebarView-3F1I7i, .contentRegionScroller-26nc1e {
    background-color: transparent !important;
}

/* Displays the custom background */
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ {background: var(--background-transpraency) !important;}

.container-16j22k {background-image: var(--load-background); background-position: center; background-size: cover; background-repeat: no-repeat;}
.appMount-3lHmkl {background-image: var(--main-background); background-position: center; background-size: cover; background-repeat: no-repeat; font-family: 'zrnic'; letter-spacing: 1.4px;}
.wordmark-2iDDfm:after {content: var(--Theme-Variant)" - "var(--Update-Text); color: #fff; position: absolute; width: 2000%; font-size: 16px; margin-left: 6px;}

 /* Sets the color of mentions and reactions */ 
.theme-dark .mentioned-xhSam7 {background: var(--mention-reaction-main) !important; opacity: .81;}
.reaction-1hd86g {background: var(--mention-reaction-main); filter: grayscale(50%); opacity: 1 !important;}
.reaction-1hd86g.reactionMe-wv5HKu {background: var(--mention-reaction-main); filter: grayscale(0%);}
.reactionMe-23mbRf .reactionCount-2ddRoS {color: var(--text-normal);}
.wrapper-3WhCwL {color: var(--mention-reaction-main) !important; filter: brightness(2);}
.interactive:hover {background: transparent; text-decoration: underline;}

/* Stylizes server folders */
.folderIconWrapper-226oVY {border-radius: 0;}
.expandedFolderBackground-2sPsd- {border: transparent 2px solid; background: var(--server-folder-extended-main) !important; border-radius: 0% !important; left: 10px;}

.wrapper-21YSNc {overflow: hidden;}

#app-mount .wrapper-21YSNc .expandedGuilds-1JMD4M .icon-27yU2q, #app-mount .wrapper-21YSNc .expandedGuilds-1JMD4M .acronym-2mOFsV {height:45px; idth:45px; argin-left: 0px;}

.expandedFolderIconWrapper-1xLaU- {height: 45px; width: 45px; margin: 0px;}

.icon-22AiRD[name="Nova_Help"] {cursor: help;}

.folder-21wGz3 {background: transparent !important;}

/* Stylizes the command page */
.theme-dark .autocomplete-1vrmpx, .wrapper-39oAo3 {background: var(--commands-main);}
.theme-dark .selectorSelected-1_M1WV {background: rgba(0,0,0,.2);}

/* Changes the color of the role menu and user information */
.topSectionNormal-2-vo2m, .body-3ND3kc, .bodyInner-245q0L, .footer-1fjuF6 {background-color: var(--user-profile-background) !important;}

.bodyInner-245q0L {padding: 2px 0px 2px 0px; overflow-x: hidden; overflow-y: auto;}
.wumpusWrapper-yrvoR3 {margin-top: 30px;}
.footer-1fjuF6 {padding-top: 0;}
.note-3HfJZ5 textarea {margin: 8px; margin-top: 0; width: 94%; height: auto !important;}
.protip-YaFfgO {display: none;}
.rolesList-22qj2L {margin: 8px 8px 4px 8px;}

.userPopout-3XzG_A {width: 262px;}
.body-3ND3kc {height: 262px;}

.bodyTitle-Y0qMQz {background: var(--user-profile-background) !important; filter: contrast(80%); height: 28px!important; line-height: 28px; padding-left: 10px; display: flex; white-space: nowrap;}
.activityUserPopout-2yItg2 .headerText-1HLrL7 {margin: 0; width: 104.4%; right: 10px; position: relative; color: #72767d !important; background: var(--user-profile-background) !important; filter: contrast(80%); height: 28px!important; line-height: 28px; padding-left: 10px; display: flex; white-space: nowrap;}
.activity-1ythUs .headerTextNormal-2mGWX3, .activity-1ythUs .activityHeader-1PExlk {margin: 0; filter: contrast(60%); line-height: 30px; display: flex; white-space: nowrap; position: relative;}
.theme-dark .join-33Tr-7 .actionButton-2PeQbJ, .theme-light .join-33Tr-7 .actionButton-2PeQbJ {position: relative; top: 20px;}
.body-ZAhrcj {padding-top: 10px;} 
.activity-11LB_k, .activity-1ythUs {padding: 0px 10px 10px 10px;}

.activityUserPopout-2yItg2 .headerText-1HLrL7:before, .headerFill-adLl4x .activity-1ythUs .headerTextNormal-2mGWX3:before {font-family: "Segoe MDL2 Assets"; font-size: 12px; margin-right: 6px; content: "\E7FC"}
.headerSpotify-zpWxgT .activityUserPopout-2yItg2 .headerText-1HLrL7:before, .topSectionSpotify-1lI0-P .activityProfile-2bJRaP .headerText-1HLrL7:before {font-family: "Segoe MDL2 Assets"; font-size: 12px; margin-right: 6px; content: "\EC4F"}
.bodyTitle-Y0qMQz:before {font-family: "Segoe MDL2 Assets"; font-size: 12px; margin-right: 6px; content: "\ECA5";}
.activity-1ythUs .activityHeader-1PExlk:before {font-family: "Segoe MDL2 Assets"; font-size: 12px; margin-right: 6px; content: "\E779"}
.scroller-2FKFPG {position: static;}

.header-QKLPzZ, .headerTop-3C2Zn0, .popout-6p6fkZ {background: var(--user-profile-background); filter: hue-rotate(20deg);}
.guildName-13lmy3, .subscriberCount-3PSK6x {color: gray;}
.theme-dark .streamPreview-2-WUWT, .body-Ogsp8ivar {background: var(--user-profile-background);}
.theme-dark .container-VSDcQc .sectionTag-pXyto9, .theme-dark .popoutList-T9CKZQ {background: #999966; text-shadow: 1px 1px black;}
.positionTop-3e-X1p .autocompleteHeaderBackground-30T70q, .positionTop-3e-X1p .sectionTag-pXyto9 {border-radius: 0;}
.giftButton-1qyve4 {width: 100%; margin-top: 20px;}
.linkButton-wzh5kV {padding: 2px 4px;}
.verticalButtons-2VzPi6 .planOption-2fnccy:not(:first-child) {margin-top: 20px;}
.planInfo-2sxmf2 {margin-top: auto; margin-bottom: auto;}
.tierImage-2rby9B {display: flex; flex: 1 1 auto;}
.theme-dark .listRow-hutiT_:hover {background: hsla(0, 0%, 100%, .05);}
.role-2irmRk {border-radius: 3px;}
.roleCircle-3xAZ1j {border-radius: 6%;}
.roleName-32vpEy {margin: 0;}
.sidebar-2K8pFh {border-radius: 0px;}

/* Changes the text channel color */ 
.name-3_Dsmg {color: white !important;}
.unread-3zKkbm:after {content: ">"; margin-left: 2px; color: var(--main-unread); display: block !important;}

.keybind-KpFkfr {color: lime; animation: colorChange 12s infinite linear;}
.theme-dark .subtitle-Qv5s8c {color: #1db954;}

.theme-dark .base-gE7OpD span, .base-gE7OpD .cooldownWrapper-3joyFc {color: lime !important; animation: colorChange 12s infinite linear;}

.mouse-mode .message-2qnXI6 {background: var(--background-message-hover);}

.innerDisabled-1YTFPN {display: none;}

/* Stylizes the activity tab */
.wrapper-3D2qGf {background: var(--store-item-background);}
.da-formTitleInCard {color: var(--activity-heading-2) !important;}
.theme-dark .base-1x0h_U {color: var(--activity-heading-1);}
.title-FVgbgL {color: var(--large-heading-main) !important;}
.container-1D34oG {background: transparent !important;}
.channel-2QD9_O, .member-3-YXUe {max-width: 100%; margin-left: auto; margin-right: auto;}

.title-29uC1r {color: #fff !important;}

.title-1rUb9I {color: var(--store-small-heading-main);}
.theme-dark .description-1RsfgZ {background: var(--store-item-background);}

.body-2lagau {width: -webkit-fill-available; max-width: -webkit-fill-available;}
.members-1998pB, .sidebar-2K8pFh, .animatedContainer-1pJv5C, .bannerImage-1jOskm {width: 258px;}

.theme-dark .lookFilled-1Gx00P.colorTransparent-1ewNp9:disabled {
    background: var(--main-chat-color);
}

.theme-dark .lookFilled-1Gx00P.colorTransparent-1ewNp9:hover {
    background-color: var(--main-chat-color);
    color: black;
}

.theme-dark .lookFilled-1Gx00P.colorTransparent-1ewNp9 {
    background: var(--main-chat-color);
    color: gray;
}


.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .theme-dark .activeButton-1BJAiN {background: var(--main-option-button-color); color: #fff;} 
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover, .theme-dark .pageButton-MknE-_:hover {background: var(--main-button-secondary-color); color: #000;}

/* Changes the pop-in control tabs */
.theme-dark .card-FDVird:before {background: rgba(32,34,37,.3);}

.contentWrapper-3WC1ID, .scroller-3__pG8, .slideBody-2nMrnU, .theme-dark .quickswitcher-3JagVE, .theme-dark .root-1gCeng, .theme-dark .footer-3rDWdC, .theme-dark .footer-3mqk7D, .theme-dark .modal-yWgWj-, .theme-dark .uploadModal-2ifh8j, .footer-3J5oP4 {background: var(--popout-control-dialog) !important;}
.tierBody-16Chc9, .tierBody-x9kBBp, .perk-2WeBWW, .tierMarkerBackground-3q29am, .ctaBar-2UsjF2, .body-2iXqIL, .footer-2aTx0s, .tiles-2aXG_k, .action-1lSjCi, .detailsBlock-FoDTGA, .cardWrapper-2Min21 {background: var(--popout-secondary-control-dialog) !important;}

.bd-backdrop {background: transparent;}
.bd-modal-wrapper .tab-bar-container {background: rgba(255, 255, 255, .07)!important;}
.theme-dark .modal-6GHvdM .tabBarContainer-1s1u-z {margin-left: auto !important; background: rgba(255, 255, 255, .07)!important;}
.bd-modal-wrapper .bd-modal-body, .bd-modal-wrapper .footer {background: var(--popout-control-dialog);}
.bd-modal-wrapper .header {background: var(--popout-control-dialog) ; color: var(--large-heading-main);}
.bd-modal-wrapper .footer button {background: var(--main-button-color);}
.bd-modal-wrapper .footer button:hover {background: var(--main-button-color); filter: hue-rotate(20deg);}


/* Stylizes Mentions */
.mention-1f5kbO, .base-PmTxvP {background: var(--mention-background-main) !important;}

/* Changes the settings tab color */
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, #bd-settings-sidebar .ui-tab-bar-item:hover {background: var(--settings-member-hover) !important;}
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, #bd-settings-sidebar .ui-tab-bar-item.selected {background: var(--settings-member-select) !important;}

.button-14-BFJ[aria-label="Mute"], .button-14-BFJ[aria-label="Deafen"], .button-14-BFJ[aria-label="Undeafen"], .button-14-BFJ[aria-label="Unmute"]{display:none;}

.container-3baos1 .flex-1xMQg5:hover {
    flex-direction:column;
    margin-bottom:64px;
    z-index:1;
    background:rgba(0,0,0,0.25);
    border-radius:3px;
}

.scroller-2wx7Hm, .scroller-1JbKMe {z-index: 0;}

.container-3baos1 .flex-1xMQg5:hover .button-14-BFJ[aria-label="Mute"], .container-3baos1 .flex-1xMQg5:hover .button-14-BFJ[aria-label="Deafen"], .container-3baos1 .flex-1xMQg5:hover .button-14-BFJ[aria-label="Undeafen"], .container-3baos1 .flex-1xMQg5:hover .button-14-BFJ[aria-label="Unmute"] {display:block;}

.roundButton-2CW1Hh {color: lightgrey;}
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:hover, .top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ {background: transparent !important;}
.theme-dark .description-3_Ncsb, .theme-dark .markValue-2DwdXI, .user-settings-games .last-played, #bd-settingspane-container .ui-switch-item .style-description {color: var(--main-decription-color);}
.description-2nQj2E, .theme-dark #bd-settingspane-container .ui-switch-item .style-description, .progressCellText-3avmMz {color: var(--main-decription-color);}
.markup-2BOw-j {color: var(--main-chat-color); text-shadow: 0 0 20px;}
.theme-dark .spoilerText-3p6IlD {background: hsla(0,0%,100%,.3);}
.regionSelectModal-12e-57 {background: var(--popout-control-dialog); !important}
.horizontal-1ae9ci>.flexChild-faoVW3:first-child {color: #f6f6f6;}
.notches-1sAcEM {background-image: none !important;}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {background: transparent;}
.wrapper-29NfPK .actions-2vadYq .center-1Vp33r {background: var(--commands-main);}
#pubslayer .ui-tab-bar-item.selected {background-color: var(--settings-member-select) !important;}
#pubslayer .ui-tab-bar-item:hover {background-color: var(--settings-member-hover) !important;}

.footer-3rDWdC .lookFilled-1Gx00P.colorBrand-3pXr91, .lookInverted-2D7oAl.colorBrand-3pXr91, .footer-3rDWdC .lookLink-9FtZy-.colorPrimary-3b3xI6, .footer-3mqk7D .hasSpoilers-1IRtQC .lookLink-9FtZy-.colorPrimary-3b3xI6, .footer-3mqk7D .hasSpoilers-1IRtQC .lookFilled-1Gx00P.colorBrand-3pXr91, .footer-3rDWdC .lookFilled-1Gx00P.colorRed-1TFJan {margin-left: 18px; margin-right: 0;}
.button-3aO-jY {margin-left: 12px;}
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6, .cancelButton-2O3h8t, .lookLink-9FtZy-.colorWhite-rEQuAQ, .lookLink-9FtZy-.colorBrand-3pXr91 {background: var(--main-cancel-button-color); color: black;}
.cancelButton-3F-H2t {margin-right: 0;}
#bd-settingspane-container .bd-pfbtn {margin-left: 10px !important;}
.closeButton-g8-Rd4 {padding: 2px 16px 2px 16px;}
.bda-slist .bda-footer button, .item-26Dhrx[style*="background-color: rgb(114, 137, 218);"], .lookFilled-1Gx00P.colorBrand-3pXr91, .lookFilled-1Gx00P.colorBrand-3pXr91:disabled, .jumpButton-Ia2hRJ, .buttonColor-1agP3J, .lookFilled-1Gx00P.colorGrey-2DXtkV {background: var(--main-button-color) !important;}
.bd-pfbtn:hover, .bda-slist .bda-footer button:hover, .item-26Dhrx[style*="background-color: rgb(114, 137, 218);"]:hover, .lookFilled-1Gx00P.colorBrand-3pXr91:hover, .buttonColor-1agP3J {background: var(--main-button-color); filter: hue-rotate(20deg);}
.lookFilled-1Gx00P.colorPrimary-3b3xI6, .lookFilled-1Gx00P.colorGreen-29iAKY, .bd-pfbtn {background: var(--main-secondary-button-color) !important;}
.lookFilled-1Gx00P.colorPrimary-3b3xI6:hover, .lookFilled-1Gx00P.colorGreen-29iAKY:hover, .bd-pfbtn:hover {background: var(--main-secondary-button-color) !important; filter: hue-rotate(20deg);}
.item-3HpYcP[style*="background-color: rgba(67, 181, 129, 0.2)"] {background: #fff !important;}
.bda-slist .bda-footer button:disabled {cursor: not-allowed;}
.themeDefault-24hCdX.valueChecked-m-4IJZ {background: var(--main-button-color) !important;}
.themeDefault-24hCdX.valueUnchecked-2lU_20 {background: var(--main-secondary-button-color);}
.bd-switch-checked {background: var(--main-button-color) !important;}
.bd-switch {background: var(--main-secondary-button-color);}
.barFill-23-gu- {background: var(--main-button-color);}
.theme-dark .bar-2Qqk5Z {background: var(--main-secondary-button-color);}
.barForeground-3KglC8 {background: var(--main-button-color);}
.barBackground-2EEiLw {background: var(--main-secondary-button-color);}

/* Adds in the update log module */
[layer-id="user-settings"] .userSettingsAccount-2eMFVR~ :last-child:after {
padding: 18px;
display: block;
border: 3px double rgba(74,107,26,1);
color: rgba(74,107,26,1);
border-radius: 4px; 
content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 680 168" style="width:110%;height:100%;word-wrap:normal;"><g style="fill: lime; font-family:verdana"><text y="20" style="font-size: 1.4em; fill: lime;">The Multiverse Update Log</text><text y="50" style="font-size: 1em;" x="20">1.Added an animation for messages</text><text y="68" style="font-size: 1em;" x="20"></text><text y="98" style="font-size: 1.4em;">Notes</text><text y="124" style="font-size: 1em;" x="20"></text><text y="144" style="font-size: 1em;" x="20"></text></g></svg>')"For, "var(--Theme-Variant)" - "var(--Update-Text);
text-align: center;
word-wrap: break-word;
animation: colorChange 20s infinite linear;
}

#bd-settings-sidebar:after {
    content: var(--Theme-Variant) " by " var(--creator-short) '\A' " Revision " var(--revision);
    font-size: 12px;
    font-weight: 600;
    display: block;
    margin-top: 2px;
    cursor: pointer;
    position: relative;
    bottom: 1px;
    padding: 2px 10px;
    white-space: pre-line;
    color: lime;
    animation: colorChange 20s infinite linear;
}

/* Styles the toast notifications */
.bd-toasts, .toasts {
  width: calc(40% - 120px)!important;
  height: calc(100% - 20px) !important;
  position: absolute;
  top: initial!important;
  left: initial!important;
  bottom: 0px!important;
  min-width: 170px;
}

.bd-toasts .bd-toast {
	padding: 40px 8px 6px 8px !important;
	text-align: center;
	text-indent: 8px;
	background-repeat: space !important;
	background-blend-mode: hue;
}

.bd-toasts .bd-toast::before {
	content: "Notice From Better Discord";
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	background: rgba(0, 0, 0, .3);
	text-align: left !important;
	padding: 10px 0px 10px 0px;
}

.bd-toasts {
  right: 10px!important;
  align-items: flex-end!important;
}

.toasts {
  left: 10px!important;
  align-items: flex-start!important;
}

[class*="toast"] {
  font-size: 13px!important;
}

.notice-2FJMB4, #pluginNotice {
    position: fixed;
    margin-top: 16px;
    left: calc(50% - 8em);
    display: block;
    border-radius: 4px;
    font-size: initial;
    z-index: 9999;
    padding: 12px 30px 8px 12px;
}


#pluginNotice {text-align: start; padding: 4px 28px 4px 8px; }
.platformIcon-2NdO9F {margin-top: 0px !important;}

.theme-dark .tooltipBlack-PPG47z, .theme-dark .overflowRolesPopout-140n9i, .toolbar-2bjZV7, .wrapper-2aW0bm {background: var(--toast-hover-main);}
.emojiButton-jE9tXC, .separator-42rNt0 {display: none;}

/* stylizes the configuration page for the user settings and server settings pages*/
.theme-dark .wrapper-29NfPK, .panels-j1Uci_ {background: var(--secondary-transpraency);}

.sidebar-2K8pFh {border-radius: 0px !important;}
.container-2Rl01u, .container-1r6BKw.themed-ANHk51, .searchBar-6Kv8R2 {background: var(--secondary-transpraency);}
.video-1FfuMD {background: var(--secondary-transpraency); border-bottom: 2px solid var(--border-libary-friends-main); border-left: 2px solid var(--border-libary-friends-main)}
.video-1kutKI {background: transparent;}
.contentColumnDefault-1VQkGM {padding: 60px 40px 60px; position: relative; border-radius: 5px; background-color: var(--secondary-transpraency); min-height: 0%; margin-top: 60px; margin-bottom: 60px; min-width: auto; margin-left: auto;margin-right: auto; border: 3px var(--border-settings-main) double;}
.sidebarScrollable-1qPI87+.content-1rPSz4 {
    padding: 60px 40px 60px !important;
    position: relative;
    border-radius: 5px;
    background-color: var(--secondary-transpraency);
    min-height: 0%;
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    left: 50%;
    right: 50%;
    max-width: none;
    margin: 0;
    border: 3px var(--border-settings-main) double;}

.customScroller-26gWhv {
    padding: 60px 40px 60px;
    position: relative;
    border-radius: 5px;
    background-color: var(--secondary-transpraency) !important;
    min-height: 0%;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 3px var(--border-settings-main) double;}

.customScroller-26gWhv>div {	
    margin-left: 0%;	
    margin-right: 100%;	
    max-width: 0%;	
    min-width: 100%;	
}

.wrapper-3jrx9n {background-image: url("http://i.imgur.com/VvNhMb0.jpg"); background-size: cover; box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .4);}

.customHeader-f9DEJ_ {padding-top: 0px;}
.customHeader-PhBRGa {padding-top: 0px;}
.toolsContainer-1edPuj {position: fixed; margin-right: 0px !important; padding-top: 18px; right: 0%;}
.sidebarRegion-VFTUkN {flex: 1 0 28px}
.customColumn-Rb6toI {max-width: 100%;}

/* Stylizes the custom css editor */
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button {background: #43b581;}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover {background: #2a9254;}

.bda-dark~div #ace_settingsmenu {background: var(--popout-control-dialog-background);}

.theme-dark #bd-settingspane-container h2.ui-form-title {color: mediumpurple;}

.contentRegion-3nDuYy #bd-customcss-attach-controls {background: transparent;}

/* Changes the DM Color */
.channel-2QD9_O:hover a, .memberListContainer-13tNU9:hover {background-color: var(--user-member-hover);}
.channel-2QD9_O.selected-1HYmZZ a, .popout-13LQ_3 {background-color: var(--user-member-select) !important;}
.theme-dark .akaBadge-1M-1Gw {background-color: #292b2f !important;}

/* Changes the Member list color */
.clickable-1JJAn8.container-2Pjhx-:hover {background-color: var(--user-member-hover) !important; text-shadow: 1px 1px #000 !important;}
.clickable-1JJAn8.container-2Pjhx-:active, .selected-aXhQR6.container-2Pjhx- {background-color: var(--user-member-select) !important; text-shadow: 1px 1px #000 !important;}

/* Changes the more users options color */
.contextMenu-HLZMGh, .container-3cGP6G, .container-1gR2ZK, .quickSelectPopout-X1hvgV, .theme-dark .popout-2sKjHu, .css-1aymab5-option, .BDFDB-select .css-1ye7vu0, .theme-dark .quickSelectPopout-X1hvgV {background: var(--main-dropdown);}
.clickable-11uBi-:hover, .selected-BYpGTS, .quickSelectPopoutOption-opKBx9:hover, .optionLabel-2CkCZx, .optionNormal-12VR9V:hover, .css-1gnr91b-option, .css-12o7ek3-option, .BDFDB-select .css-1gnr91b-option, .theme-dark .quickSelectPopoutOption-opKBx9:hover {background: var(--main-dropdown-hover);}

.contextMenu-HLZMGh {padding: 0;}
.attachPopout-36hjtN {padding: 0; border-radius: none;}
.css-1aymab5-option {padding: 8px 12px;}

.theme-dark .item-1Yvehc {color: #fff;} 
.item-2J1YMK {margin: 0px;}

.helper-2c73HK {text-shadow: 1px 1px; font-size: 12px;}

.icon-2doZ3q, .iconContainer-2ZxvJk {filter: brightness(0.25);}
.itemBase-1Qj4z6:hover {background: var(--main-dropdown-hover);}
.menu-Sp6bN1 {padding: 4px 0px; background: var(--main-dropdown);}
.itemBase-1Qj4z6 {margin: 0px;}
.separator-2zcjq8 {border-bottom: none;}

.theme-dark .item-1Yvehc.disabled-2xniQf, .theme-dark .item-1Yvehc.disabled-2xniQf:hover {color: #33b;}

.icon-360yEu, .iconWrapper-2Urb3j {width: auto; height: auto;}

.theme-dark .container-3ayLPN, .attachPopout-36hjtN {background: var(--main-dropdown);}
.theme-dark .item-1GzJrl.invite-271nFU {color: #304db5 !important;}

.theme-dark .option-96V44q.selected-rZcOL-, .attachPopoutRow-3iqqu1:hover {background-color: var(--main-dropdown-hover);}
.theme-dark .option-96V44q:after {background: transparent;}
.theme-dark .option-96V44q.selected-rZcOL-:after {background: transparent;}

.theme-dark .dividerEnabled-2TTlcf {border-bottom-color: hsla(0, 0%, 100%, 0.2);}
.theme-dark .separator-gCa7yv, .theme-dark #bd-settings-sidebar .ui-tab-bar-separator {background-color: hsla(180, 100%, 61%, 0.2); padding: 0;}

/* Restructures Elements */
#app-mount .channel-2QD9_O[href="/activity"] .layout-2DM8Md, #app-mount .channel-2QD9_O[href="/channels/@me"]:not([href="/channels/@me/"]) .layout-2DM8Md, #app-mount .channel-2QD9_O[href="/library"] .layout-2DM8Md, #app-mount .channel-2QD9_O[href="/store"] .layout-2DM8Md {
    flex-direction: column;
    height: 52px;
}

#app-mount .channel-2QD9_O[href="/activity"], #app-mount .channel-2QD9_O[href="/channels/@me"]:not([href="/channels/@me/"]), #app-mount .channel-2QD9_O[href="/library"], #app-mount .channel-2QD9_O[href="/store"] {
    display: inline-block;
    width: 30%;
    margin-left: 8px;   
}

#app-mount .channel-2QD9_O[href="/activity"] .avatar-3uk_u9, #app-mount .channel-2QD9_O[href="/channels/@me"]:not([href="/channels/@me/"]) .avatar-3uk_u9, #app-mount .channel-2QD9_O[href="/library"] .avatar-3uk_u9, #app-mount .channel-2QD9_O[href="/store"] .avatar-3uk_u9 {
    margin: 0;    
}

#app-mount .channel-2QD9_O[href="/activity"] .layout-2DM8Md .name-uJV0GL, #app-mount .channel-2QD9_O[href="/channels/@me"]:not([href="/channels/@me/"]) .layout-2DM8Md .name-uJV0GL, #app-mount .channel-2QD9_O[href="/library"] .layout-2DM8Md .name-uJV0GL, #app-mount .channel-2QD9_O[href="/store"] .layout-2DM8Md .name-uJV0GL {
    font-size: 16px;    
}

.downloadProgressCircle-3_wgim {display: none;}
.channel-2QD9_O .numberBadge-2s8kKX {margin-top: -33px; margin-left: 12px; transform: scale(0.84); z-index: 1;}

/* Changes the time-stamp color */
.theme-dark .timestampCozy-1HNQR2, .theme-dark .timestamp-1mruiI, .timestamp-3ZCmNB.latin24CompactTimeStamp-2V7XIQ, .timestamp-3ZCmNB {color: var(--main-timestamp) !important;}
.timestampCozyAlt-1Hs08c {display: none;}
.theme-dark .discrim-3rYTMj {opacity: 1;}

/* Changes the scroll bar and the round arrows that point next to a server and channel */
.pill-31IEus {display: none;}
.wrapper-1Rf91z.foldercontent {width:70px !important;}
div::-webkit-scrollbar-track-piece {border: none !important; border-radius: 0%; background-color: transparent !important;}
div::-webkit-scrollbar-track {background-color: rgba(0,0,0,.4) !important; border-radius: 0% !important; border-style: none;}
div::-webkit-scrollbar-thumb {background-color: rgba(255,255,255,0.4) !important; border-radius: 0% !important; border-style: none; border-color: transparent !important;}
div::-webkit-scrollbar {width: inherit}
.theme-dark .container-2td-dC.unread-2OHH1w:before {display: block; border-radius: 1px;height: 14px;margin-top: -6px;background-color: var(--main-unread);}
.theme-dark .container-2td-dC.selected-nT-gM3:before {display: none;}
.container-2td-dC.selected-nT-gM3:before {display: block;}
.unread-3zKkbm {background-color: transparent !important;}
.theme-dark .select-2TCrqx .Select-option {color: #f6f6f7;background: #9a83a0;}
.theme-dark .select-2TCrqx .Select-option.is-selected {background: #7c6482;}
.theme-dark .select-2TCrqx .Select-option.is-focused {background: #7c6482;}
.theme-dark .select-2TCrqx .Select-menu-outer {background: transparent;}
.Select .Select-menu {border-radius: 0%;}
.theme-dark .closeButton-1tv5uR {border-radius: 25%;}

/* Gets rid of the box shadow from the jump button from channel search */
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {background-color: #bc8f8f !important; box-shadow: none !important;}

/* Changes the color of pinned messages */
.messagesPopout-24nkyi {background-color: var(--main-updates-background) !important;}
.messageGroupWrapper-o-Zw7G {background-color: var(--main-secondary-updates-background) !important;}
.theme-dark .header-ykumBX, .theme-dark .searchHeader-1l-wpR, .tabBarContainer-1s1u-z {background: var(--main-updates-background) !important; filter: contrast(80%);}

/* Changes the header color */
.theme-dark .h5-18_1nd, .theme-dark .header-2RyJ0Y, .membersGroup-v9BXpm, .name-IbjUBS, .privateChannels-1nO12o header, .theme-dark .contentTitle-2tG_sM, .label-3aiqT, .overflowRolesPopoutHeaderText-1SW-y3, path[fill*="#72767d"], #bd-settings-sidebar .ui-tab-bar-header {color: var(--small-heading-main) !important; opacity: 1;}
.theme-dark .defaultColor-1_ajX0, .modalTitle-3yx4eo, .regionSelectModalHeader-21khC1, .header-3ZP1MY {color: var(--large-heading-main) !important; font-size: inherit;}
span.optional--ezibr {display: none;}

/* Changes the style of the store */
.theme-dark .description-2oYgWO {background: var(--store-item-background);}
.theme-dark .overlappingBorder-3aFng4, .overlappingBorder-1-XPGl {border-color: orange}
.theme-dark .itemBackground-2vEldQ {background-image: none !important; background: transparent !important;}
.itemBackground-2vEldQ:before {background: transparent !important}
.heroCarousel-usH_dd {margin-bottom: 0; margin: 3%}
.carouselContainer-1cw6QH {
    position: initial;
    height: 480px;
    display: grid;
}
.theme-dark .details-1DqjXP {background: antiquewhite;}
.gameTitle-8njhLq {color: var(--store-small-heading-main) !important;}
.actionsContainer-YoXiVl {flex-wrap: nowrap;}
.title-2XwaXv {color: var(--store-small-heading-main) !important;}
.muteContainer-dXWpxM {background: var(--play-arrow-color-main);}
.nextArrow-V_4mvH, .prevArrow-11tqRS {background: var(--play-arrow-color-main); border-radius: 50%; width: 40px; height: 40px;}
.wrapper-129saQ {background: var(--play-arrow-color-main);}
.iconExternal-NKMKxg, .iconExternalMargins-2v2mzg, .iconPlay-2kgvwV {color: gray; opacity: 1;}
.copyButton-gxXBmB {background: transparent !important; padding: 0;}
.theme-dark .scrollerButton-1Vm5_P {
    background-color: var(--play-arrow-color-main);
    color: #fff;
}
.theme-dark .name-u2zgy7 {color: gray;}
.theme-dark .root-1bFE0x {
    background-color: var(--store-embed-main);
    border: 16px solid #202225;
}

.arrowHidden-1jg6O9, .arrowHidden-1jg6O9:hover {
    opacity: 1 !important;
}
.arrow-3jRqK8 {background: var(--play-arrow-color-main); color: gray; opacity: 1 !important;}
h3.title-3KTIjF {color: var(--store-small-heading-main) !important;}
.theme-dark .row-1bU71H {background: var(--main-dropdown-hover);}
.openBody-1HeDPG {width: 100%}
.body-1Q8LH2, .openBody-1HeDPG {background: var(--store-embed-main);}
.theme-dark .bodySection-jqkkIP {background: tan;}

/* ~~~~ */
.guildInfo-2wGKIg {background: var(--store-item-background);}
.theme-dark .guildName-1yURO5 {color: mediumturquoise;}
.theme-dark .description-2QALGo {color: gray;}
.guildInfo-2wGKIg {padding: 16px;}

/* Stylizes embeds */
.theme-dark .markup-2BOw-j code, .theme-dark .wrapper-35wsBm, .embedFull-2tM8--, .theme-dark .attachment-33OFj0, .wrapperAudio-1jDe0Q, .invite-18yqGF {background: var(--main-embed-background) !important;}
.markup-2BOw-j blockquote {border-radius: 0px 3px 3px 0px; background: var(--main-embed-background);}
.markup-2BOw-j pre {border: 2px solid gray;}
.blockquoteContainer-U5TVEi .blockquoteDivider-2hH8H6 {background: gray; border-radius: 0px;}
.grid-1nZz7S {padding: 8px 12px;}
.embedFull-2tM8-- {border: none;}
.embedImage-2W1cML img, .embedFull-2tM8-- .embedMedia-1guQoW {margin-right: auto !important; margin-left: auto !important;}

.wanderingCubesItem-WPXqao {display: none;}
.circular-2NaZOq {display: none;}
.spinningCircleInner-mbM5zM {transform: rotate(0deg);}

.messages-3amgkR .message-2qnXI6, .messages-3amgkR .markup-2BOw-j:not(.isSending-1nPcL7) {
    animation: lightSpeedIn 0.7s ease-in forwards;
}

.container-3FojY8 .isSending-1nPcL7 {display: none !important;}

.inner-1gJC7_:not(.pulsingEllipsis-3YiXRF) {
    position: relative;
    width: 80px;
    height: 80px;
    background-size:cover;
    animation:none;
    z-index:1;
    background-image: url("http://i.imgur.com/p543mwo.gif");
}

/* Changes the Voice Channel List */
.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU {background-color: var(--slected-channel-color) !important; text-shadow: 2px 2px #000 !important;}
.theme-dark .wrapper-1ucjTd:hover .content-3at_AU {background-color: var(--hovered-select-channel); text-shadow: 2px 2px #000 !important;}

.listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .content-3xS9Lh {background-color: var(--user-member-select) !important; text-shadow: 2px 2px #000 !important;}
.listDefault-2y5Z9D .clickable-23RaYz:hover .content-3xS9Lh {background-color: var(--user-member-hover); text-shadow: 2px 2px #000 !important;}

/* Changes the transparency of the search bars, so they can be seen easier */
.searchBar-6Kv8R2 .searchBarComponent-32dTOx input, .theme-dark .wrapper-1cBijl {color: #fff; opacity: 1; background-color: var(--main-input);}
.wrapper-1cBijl .btn:disabled {cursor: not-allowed !important; pointer-events: all;}
 
/* Recolors the server serach popout */
.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .hit-NLlWXA {background-color: var(--main-secondary-updates-background);}
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {background-color: transparent;}
.theme-dark .searchResultsWrap-2DKFzt, .theme-dark .searchResultsWrap-2DKFzt .channelSeparator-1X1FuH .channelName-1QajIf {background-color: var(--user-profile-background);}
.theme-dark .searchResult-3pzFAB:before, .theme-dark .searchResult-3pzFAB:after {display: none;}
.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {border: transparent;}

.scroller-2UzVJg {padding-bottom: 50px;}
.theme-dark .pagination-eQpqgk {
    position: absolute;
    bottom: 0%;
    z-index: 9999;
    background: rgba(0,0,0,0.6);
    padding: 18px;
    width: 82%;
    margin: 10px;
}

.attachWrapper-2TRKBi {border: 0;}
.buttons-3JBrkn {margin-right: auto !important;}
.search-l1Wz-Q.da-search.theme-dark.popout-open, .browseSearch-e9jF-f.popout-open {box-shadow: 2px 2px 3px 0px #000;}
.scrollableContainer-2NUZem {overflow-x: visible; overflow-y: auto; background-color: rgba(114,118,125,.3); max-height: 152px !important; border-radius: 1px; box-shadow: 2px 2px 3px 0px #000 !important;}

.channelTextArea-rNsIhG {background: none;}

.children-19S4PO:after {background: transparent;}

.form-2fGMdU {margin: 0;}
.form-2fGMdU:before {display: none;}

/* Changes the color of the options menu */
.item-1Yvehc.danger-2dXSTE:hover {color: #fff !important; background: crimson;}

.item-1Yvehc.danger-2dXSTE {
    color: crimson !important;
    background: #fff;
    border-radius: 0;}

/* Changes the look of the libary tab */
.rowBackground-3MeNoN .da-rowBackground {opacity: 0;}
.theme-dark .header-39GIC8 {opacity: 0; height: 2px;}
.theme-dark .gameUpdates-2GPqBU {background: transparent;}

.rowWrapperActive-2L7i9f {background-color: rgba(0,0,0,.6);}
.rowBackground-3MeNoN {mask: radial-gradient(100% 100% at top left,hsla(0,0%,100%,.3) 0,hsla(0,0%,100%,.4) 100%); width: 100%; filter: grayscale(80%);}
.rowWrapperActive-2L7i9f .header-39GIC8 {display: none}
.textCell-1aBIUP{margin:10px 0 0 20px}
#app-mount .nameBodyCell-3JOlnK{margin:10px 0 0 10px}
#app-mount .bodyCell-9xKjWE{width:300px;padding:2px}
#app-mount .row-ZLfFhY{height:150px;width:350px;display:inline-table;margin:0;background:rgba(0,0,0,.4)}
#app-mount .rowWrapper-2fB6P0{height:150px;width:350px;display: inline-table;margin:10px; border: 3px groove var(--border-libary-friends-main);}
#app-mount .rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY{border:none;background:var(--secondary-transpraency);}
.table-1tDS6w:only-child {margin-top: 20px;}
.rowWrapperActive-2L7i9f.rowWrapper-2fB6P0 {background:transparent;}
.disabledButtonColor-34LjTT {rgba(24,25,28, 1);}

.da-disabledButtonOverlay {cursor: not-allowed;}
.rowWrapper-2fB6P0 {cursor: context-menu;}

/* Recolors the public button */
#bd-pub-button {background: var(--discordservers-main-button);}
#bd-pub-button {border-radius: 4px !important; margin: auto; color: #fff}
#pubslayer .ui-tab-bar-header {color: var(--discordservers-heading-main);}
#pubslayer button {background: var(--discordservers-main-button);}
#pubslayer button:hover {background: var(--discordservers-main-button); filter: hue-rotate(20deg);}
.bd-server-card.bd-server-card-pinned, .bd-server-card.bd-server-card-pinned:after {display: none;}

/* Changes the style of the servers unavailable button */
.note-450gs3 {color: darkgray; text-shadow: -1px 1px;}
.title-3trS3_ {color: lightgray; text-shadow: -1px 1px;}

#app-mount .guildsError-b7zR5H {
    content: "";
    background-image: url('https://i.imgur.com/5Y2musk.png');
    background-color:rgba(56, 56, 56, 0.3);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 0%;
    background-position: center; 
    text-indent: 1000%;
}
 
.errorPage-u8SYh4 {
	background-image: var(--load-background) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}

/* Gets rid of the side div in a metion */
.mentioned-xhSam7:before {display: none;}
	   
/* Gets rid of the blocked users block */
.blockedSystemMessage-2Rk1ek {display:none}
.cozy-3raOZG.wrapper-2a6GCs .blockedSystemMessage-2Rk1ek {padding: 0;}

/* Hides the text box for chatting when there is a channel you cannot speak in */
.channelTextAreaDisabled-rZtG8r {display: none;}
.buttonWrapper-1ZmCpA[tabindex="3"] {display:none}

/* Changes the border-radius of user pfp's and server icons */
.theme-dark .mask-3OgeRz {mask: none;}

.pointerEvents-2zdfdO {border-radius: 0px; mask: none !important;}

.avatar-1BDn8e {border-radius: 10%;}

#app-mount .wrapper-1Rf91z [mask*="url"], #app-mount .mask-1l8v16 foreignObject {mask: var(--border-radius-profile-main);}

[mask="url(#svg-mask-avatar-status-round-80)"], [mask="url(#svg-mask-avatar-status-mobile-80)"] {mask: none;}


.selected-nT-gM3, .circleButtonSelected-34rLFW  {outline: 2.8px dashed yellow !important;}
.badgeWrapper-3e8pMZ {width: 95%; height: 95%;}
.base-PmTxvP {border-radius: 25%;}
.status-oxiHuE {border-radius: 0px !important;}
.private-channels .status {border: 1.2px solid #2f3136;}
.status-2s6iDp {border: 1.8px solid #2f3136;}
.typing-1KJk_j {border-radius: 7px !important;}
#bd-pub-button {border-radius: 4px;}

/* Changes the look of the friends list */
.peopleListItem-2nzedh, .peopleListItem-2nzedh:hover  {
    height: 62px;
    opacity: 1;
    background-color: var(--secondary-transpraency);
    border: 2px groove var(--border-libary-friends-main);
    border-radius: 2px;
    width: 99%;
    padding: 8px;
    margin: 0;
    position: relative;
    margin-top: 10px;
    }
    
.peopleList-3c4jOR {padding-bottom: 8px;}
    
.peopleListItem-2nzedh:hover+.peopleListItem-2nzedh {border: 2px groove var(--border-libary-friends-main);}

.title-30qZAO {display: none;}

.nowPlayingColumn-2sl4cE, .peopleList-3c4jOR {background: transparent !important;}

.discriminator-22Okc1 {display: none; !important;}

.bda-slist::before  {
    content: 'Thank you for using The Multiverse 2! If you ever need help, want a custom theme, or just to share feeback, feel free to message the creator SrS#8614 via dm, or create a ticket at github.com/SrS2225a/bd-themes/issues. Enjoy!';
    word-wrap: break-word;
    padding: 12px;
    display: block;
    color: #1a66ff;
    border: 1px solid #0080ff !important;
    background: rgba(128, 0, 255, .3);
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 17px;
    padding-left: 120px;
    background-image: url(https://i.imgur.com/bmuisYj.png);
    background-size: 80px;
    background-position: 20px 50%;
    background-repeat: no-repeat;
}

/*
		                          _
                        .-.      / \        _
            ^^         /   \    /^./\__   _/ \
          _        .--'\/\_ \__/.      \ /    \  ^^  ___
         / \_    _/ ^      \/  __  :'   /\/\  /\  __/   \
        /    \  /    .'   _/  /  \   ^ /    \/  \/ .`'\_/\
       /\/\  /\/ :' __  ^/  ^/    `--./.'  ^  `-.\ _    _:\ _
      /    \/  \  _/  \-' __/.' ^ _   \_   .'\   _/ \ .  __/ \
    /\  .-   `. \/     \ / -.   _/ \ -. `_/   \ /    `._/  ^  \
   /  `-.__ ^   / .-'.--'    . /    `--./ .-'  `-.  `-. `.  -  `.
 @/        `.  / /      `-.   /  .-'   / .   .'   \    \  \  .-  \%
 @(88%@)@%% @)&@&(88&@.-_=_-=_-=_-=_-=_.8@% &@&&8(8%@%8)(8@%8 8%@)%
 @88:::&(&8&&8::JRS:&`.~-_~~-~~_~-~_~-~~=.'@(&%::::%@8&8)::&#@8::::
 `::::::8%@@%:::::@%&8:`.=~~-.~~-.~~=..~'8::::::::&@8:::::&8::::::'
  `::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::'
	   
*/